* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #676767;
}
.menu {
  margin-top: 40px;
  display: flex;
  width: 90%;
  margin: 40px auto 0px;
  justify-content: space-between;
  align-items: center;
}
.menu-left,
.menu-right {
  display: flex;
  gap: 10px;
}
.menu-left div {
  background-color: #d1d1d1;
  width: 180px;
  height: 50px;
}
.icon {
  width: 100px;
  border-radius: 100%;
  height: 30px;
  background-color: #6c6c6c;
}
.menu-right div {
  background-color: #d1d1d1;
  width: 50px;
  height: 30px;
}
.item-one {
  background-color: #676767 !important;
}
.center-section {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0px auto 0px;
}
.center-section section {
  width: 68%;
  background-color: #676767;
  height: 300px;
}
.center-section aside {
  width: 30%;
  background-color: #969494;
  height: 300px;
}
.content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 40px auto 0px;
    justify-content: space-between;
}
.left-content {
  width: 68%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.one-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#one{
    width: 170px;
    height: 150px;
    background-color: #d1d1d1;
    margin-bottom: 10px;
}
#two {
    width: 150px;
    height: 20px;
    background-color: #ebebeb;
}
#three {
    display: flex;
    gap: 9px;
}
.left {
    width: 100px;
    height: 20px;
    background-color: #ebebeb;
}
.right { 
    width: 40px;
    height: 20px;
    background-color: #ebebeb;
}
.right-content{
    width: 30%;
}
.bold-line {
    width: 100%;
    height: 40px;
    background-color: #6c6c6c;
}
.img {
    width: 120px;
    height: 130px;
    background-color: #c0bdbd;
}
.post {
  display: flex;
  justify-content: space-between;
}
.content-post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-post div {
  width: 320px;
  height: 15px;
  background-color: #e1dfdf;
  border-radius: 10px;
}
.line {
  width: 455px;
  height: 5px;
  margin-top: 20px;
  background-color: #a7a5a5;
}
footer{
  width: 100%;
  margin-top: 70px;
  background-color: #676767;
  height: 40px;
}